body {
  font-family: monospace;
}

.generate-keys {
  background: whitesmoke;
}

.encrypt-decrypt {
  background: whitesmoke;
}

/* styling for file download link */
#download-payload-link {
  display: none;
}

/* styling for file upload button */
input[type='file'] {
  display: none;
}

.lbl-public-key-file, .lbl-payload {
  font-family: system-ui;
  display: inline-block;
  border: solid 1px #bbb;
  border-radius: 5px;
  padding: 0.5em 1em;
  background: #eee;
}

.lbl-public-key-file:hover, .lbl-payload:hover {
  background: #fafafa;
}

/* styling for collapsible sections */
input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-size: 1.2rem;

  color: dimgray;
  background: lightgray;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: black;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content {
  background: whitesmoke; 

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
